<div class="container"  ng-controller="JobController" data-ng-init="getJobs()">
    <div class="row">
        <div class="col-md-3">
            <div class="jobs-sidebar-nav sidebar-nav">
                <div class="navbar navbar-default" data-spy="affix" data-offset-top="197" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#/dashboard/users">Users</a></li>
                            <li><a href="#/dashboard/blogs">Blog</a></li>
                            <li class="active"><a href="#/dashboard/jobs">Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="jobs" ng-controller="JobController">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-left"> Jobs
                        <button type="button" class="glyphicon-button text-right" id="addJob">
                            <span class="glyphicon glyphicon-plus green" style="position: inherit;"></span></button>
                    </h3>
                </div>

            </div>
            <div class="row">
                <div class="col-md-9">
                    <ul class="list-group">
                        <li class="jobs-list-group-item list-group-item" ng-repeat="job in jobs">
                            <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a href="#/dashboard/jobs" class="details" title="View Details"  data-toggle="collapse"
                                   data-target="#demo{{$index}}">
                                    {{job.title}}
                                    <span class="drop glyphicon glyphicon-circle-arrow-down"  title="Description">
                                    </span></a>
                            </div>
                                <div class="panel-body collapse" id="demo{{$index}}">
                                    <div class="row">
                                    <div class="col-md-2 job">Title</div>
                                    <div class ="col-md-10">{{job.title}}</div>
                                      </div>
                                    <div class="row">
                                    <div class="col-md-2 job">Description</div>
                                    <div class ="col-md-10">{{job.description}}</div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-2 job">Location</div>
                                    <div class ="col-md-10">{{job.location}}</div>
                                      </div>
                                    <div class="row">
                                    <div class="col-md-2 job">Salary</div>
                                    <div class ="col-md-10">{{job.salary}}$</div>
                                      </div>
                                </div>
                        </div></li>

                    </ul>

                </div>
            </div>
        </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addJobModal" role="dialog" ng-controller="JobController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">Add Job</h1>
                <div class="alert alert-success">
                    <strong>Success!</strong>  {{jobmsg}}
                </div>
                <div class="alert alert-danger">
                    <strong>Danger!</strong> {{jobmsg}}
                </div>
            </div>
            <div class="modal-body" >
                <form id="jobForm" name="jobForm" ng-model="jobForm" method="post" data-ng-submit="addJob();" novalidate>
                    <div class="form-group">
                        <label for="title" class="control-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title"
                               ng-pattern="/^[a-zA-Z ]*$/" ng-model="job.title" ng-required="true"
                               placeholder="Title"/>
                        <p class="error"
                           ng-show="jobForm.title.$error.required && jobForm.title.$touched">Title is required</p>
                        <p class="error" ng-show="jobForm.title.$error.pattern && jobForm.title.$touched">Invalid Title</p>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"
                               placeholder="Description" ng-pattern="/^[a-zA-Z0-9,'. ]*$/" ng-model="job.description"
                               ng-required="true"></textarea>
                        <p class="error" ng-show="jobForm.description.$error.required && jobForm.description.$touched">
                            Description is required</p>
                        <p class="error" ng-show="jobForm.description.$error.pattern && jobForm.description.$touched">Invalid Description</p>
                    </div>
                    <div class="form-group">
                        <label for="location" class="control-label">Location:</label>
                        <select class="form-control" id="location" class="form-control" placeholder="Location" ng-model="job.location" name="location"
                                ng-required="true">
                            <option value="California">California</option>
                            <option value="Massachusetts">Massachusetts</option>
                        </select>
                        <p class="error" ng-show="jobForm.location.$error.required && jobForm.location.$touched">Location is required</p>
                        <p class="error" ng-show="jobForm.location.$error.pattern && jobForm.location.$touched">Invalid Location</p>
                    </div>
                    <div class="form-group">
                        <label for="salary" class="control-label">Salary:</label>
                        <input type="text" class="form-control" id="salary" name="salary"
                               placeholder="Salary" ng-pattern="/^[0-9]*$/" ng-model="job.salary"
                               ng-required="true"/>
                        <p class="error" ng-show="jobForm.salary.$error.required && jobForm.salary.$touched">
                            Salary is required</p>
                        <p class="error" ng-show="jobForm.salary.$error.pattern && jobForm.salary.$touched">Invalid Salary</p>
                    </div>
                    <input type="hidden" name="user_id" value="{{ id }}">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Add Job</button>
                        <input type="button" class="btn btn-danger" value="Close" data-dismiss="modal"/>
                    </div>

                </form>
            </div>

        </div>

    </div>
</div>
<script src="../js/dashboard-scripts.js"></script>
