/************ Global Styles ***********/

/* ---- Navigation Bar Styles ---- */
.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default {
	background: #3c3d47;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited {
	color: #BADA55;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FFFFFF;
}

/* ---- Body Styles ---- */

.jumbotron {
	background: url("../images/banner1.jpg");
	background-size: cover;
	background-position: center;
	height: 95vh;
}

.carousel-inner > .item > img {
	height: 95vh;
	width: 100%;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  -moz-transition: opacity ease-in-out 5s;
  -o-transition: opacity ease-in-out 5s;
  -webkit-transition: opacity ease-in-out 5s;
  transition: opacity ease-in-out 5s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}

.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}

.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 5s;
  -o-transition: opacity ease-in-out 5s;
  -webkit-transition: opacity ease-in-out 5s;
  transition: opacity ease-in-out 5s;
  z-index:2;
}

.product {
	margin-top: 100px;
	margin-bottom: 100px;
}

.detail {
	background: #262F36;
}

.holder {	
	padding: 100px 0 100px 0;
	color: #FFFFFF;
}

.holder a {
		margin-bottom: 20px;
}

.founder {
	margin-top: 100px;
}

blockquote {
	border: none;	
}

blockquote p {
	font-size: 1.5em;
	font-weight: bold;
}

body > footer {
	background: #F4F5F6;
	padding: 50px 0 50px 0;
}

body > footer h3 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1.3em;
}

ul {
	list-style-type: none;
	padding: 0;
	
}

ul li {
	line-height: 1.65;
}

ul li a {
	text-decoration: none;
	color: #333333;
}

ul li a:hover {
	text-decoration: underline;
	color: #333333;
}

/* ---- Footer Styles ---- */

.social-icons {
	padding-top: 50px;
}

/* ---- Media Queries ---- */

@media only screen and (max-width: 992px){
	.product {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.holder, body > footer {
		padding: 25px 0 25px 0;
	}

	.founder {
		margin-top: 50px;
	}
	
}

@media only screen and (max-width: 767px) {

	.product a, .holder a {
		width: 100%;
	}

	.social-icons {
		padding: 10px 0;
		text-align: center;
	}

	.social-icons:nth-child(even) {
		text-align: left;
	}

}
