/************ Global Styles ***********/

/* ---- Navigation Bar Styles ---- */
.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default {
	background: #3c3d47;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited {
	color: #BADA55;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FFFFFF;
}

/* ---- Body Styles ---- */

.jumbotron {
	background: url("../images/banner1.jpg");
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  -moz-transition: opacity ease-in-out 5s;
  -o-transition: opacity ease-in-out 5s;
  -webkit-transition: opacity ease-in-out 5s;
  transition: opacity ease-in-out 5s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}

.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}

.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 5s;
  -o-transition: opacity ease-in-out 5s;
  -webkit-transition: opacity ease-in-out 5s;
  transition: opacity ease-in-out 5s;
  z-index:2;
}

.product{
	margin-top: 100px;
	margin-bottom: 100px;
}

.holder {
	background: #262F36;
	padding: 100px 0 100px 0;
	color: #FFFFFF;
}

.holder a {
		margin-bottom: 20px;
}

.founder {
	margin-top: 100px;
}

blockquote {
	border: none;	
}

blockquote p {
	font-size: 1.5em;
	font-weight: bold;
}

@media only screen and (max-width: 992px){
	.product {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.holder {
		padding: 50px 0 50px 0;
	}

	.founder {
		margin-top: 50px;
	}
	
}

@media only screen and (max-width: 768px) {

	.product a, .holder a {
		width: 100%;
	}

}