#map {
    width: 100%;
    height: 50vh;
}

.location {
    margin-bottom: 20px;
    margin-top: 20px;
}

.location > div > div > strong{
    padding-right: 30px;
}

.location > div > div > address{
    margin-top: 20px;
}
.form-horizontal {
    margin-top: 20px;
}

.form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
}

#submit {
    text-align: center;
}

textarea {
    resize: vertical;
}

.contactUs_form {
    background-color: #F4F5F6;
}