/*Colors*/

.white
{
    color: #ffffff;
}
.green
{
    color: #1c941e;
}
.gray
{
    color: #5e5e5e;
}
.red
{
    color:#ff0000;
}

/*navbar*/
header .navbar
{
    background: #505160;
}
.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}
.sidebar-nav .navbar ul {
    float: none;
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
}
.sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.sidebar-nav .navbar li a:hover {
    background: #68829e;
    color: #ffffff;
    font-weight: bold;
}

table.glyphicon-hover tbody .glyphicon {
    visibility: hidden;
}
table.glyphicon-hover tbody tr:hover .glyphicon {
    visibility: visible;
}
.glyphicon-button
{
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.glyphicon {
    top: 5px;
}

main
{
    vertical-align: middle;
    height: 100vh;
    padding-top: 10vh;
}
.loginContainer
{
    margin-top:20vh ;
}
.panel-info
{
    background-color: #f8f8f8;
}
.panel-default
{
    background: #F4F5F6;
    -webkit-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.52);
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.52);
}
.panel-default .panel-heading
{
    background-color:#505160 ;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

/*Form styles*/
input.ng-invalid.ng-touched
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border: solid 1px red;
}
input.ng-valid.ng-touched
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border: solid 1px #5cb85c;
}
.last-accessed
{
    font-weight: bold;
}
.ng-invalid .btn-success
{
    background: gray;
    border: gray;
}
.ng-invalid .btn-success:hover
{
    background: gray;
    border: gray;
}
.btn-success {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    font-weight: bold;
    background-color: #AEBD38;
    border-color: #AEBD38;
    color: #FFFFFF;

}

.btn-success:hover {
    background-color: #598234;
    border-color: #598234;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}
.error
{
    color:red;
}
input[type=text],input[type=email],input[type=password],select, textarea {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #505160;
}
input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,select:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}
/*---Form styles*/
/*Copyright*/
footer
{
    /*height: 5vh;*/
}
.copyright {
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 5px;
    background: #505160;
    color: #cccccc;
}

.copyright .row > div:first-of-type {
    text-align: right;
}

.copyright .row a {
    margin-right: 5px;
    color: #cccccc;
    padding-right: 9px;
    text-decoration: none;
    text-transform: capitalize;
}

.copyright .row a:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.copyright .row a:hover {
    color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
    .copyright .row div {
        text-align: center !important;
    }
}

/*Prarthana Jobs CSS starts*/
/*
.add {
    top: 23px;
}*/

#addJob {
    font-size: 16px;
}
.panel-primary {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-primary > .panel-heading  {
    background-color:#337ab7;
}

.details {
    color: white;
    text-decoration: none;
}
.drop {
    float: right;
}

.jobs-list-group-item {
    border :none;
    padding: 0;
}

.panel-primary > .panel-heading >a:hover, a:visited, a:active, a:link {
    color:white;
    text-decoration: none;
}
.jobs-sidebar-nav {
    margin-top: 23px;
}
