/************ Global Styles ***********/

/*
Color Theme

Dark Blue: #505160
Light Blue: #68829E
Light Green: #AEBD38
Dark Green: #598234
*/

/* ---- Navigation Bar Styles ---- */

.navbar {
    width: 100%;
    z-index: 100;
}

.navbar, .navbar-collapse {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default {
	background: #505160;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited {
	color: #AEBD38;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FFFFFF;
}

a {
    color: #68829E;
}

a:hover {
    color: #505160;
}

/* ---- Body Styles ---- */

h2 {
    margin-bottom: 50px;
    text-align: center;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

.jumbotron {
    padding-top: 50px;
    padding-bottom: 0;
}

.selected {
    padding-bottom: 10px !important;
    border-bottom: 5px solid #AEBD38;
}

.bold {
    font-weight: bold;
}

.btn-info {
    background-color: #AEBD38;
    border-color: #AEBD38;
    color: #FFFFFF;
}

.btn-info:hover {
    background-color: #598234;
    border-color: #598234;
}

/* ---- Home Page Styles ---- */
.home-jumbotron {
	background: url("../images/banner1.jpg");
	background-size: cover;
	background-position: center;
}

.carousel-inner > .item > img {
	height: 100vh;
	width: 100%;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  -moz-transition: opacity ease-in-out 5s;
  -o-transition: opacity ease-in-out 5s;
  -webkit-transition: opacity ease-in-out 5s;
  transition: opacity ease-in-out 5s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}

.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}

.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 5s;
  -o-transition: opacity ease-in-out 5s;
  -webkit-transition: opacity ease-in-out 5s;
  transition: opacity ease-in-out 5s;
  z-index:2;
}

.block {
    text-align: center;
    vertical-align: middle;
}

.circle {
     border-radius: 200px;
     height: 200px;
     font-weight: bold;
     font-size: 1.3em;
     width: 200px;
     display: table;
     margin: 20px auto;
     border: 5px double #FFFFFF;
}

.circle p {
    vertical-align: middle;
    display: table-cell;
    text-transform: uppercase;
}

.circle + div p {
    padding: 0 80px;
}

.product {
	margin-top: 50px;
	margin-bottom: 50px;
}

.product .block {
    padding-top: 15px;
}

.product .circle {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    border: 1px solid #68829E;
    color: #FFFFFF;
    background: #68829E;
}

.product .row .row {
    vertical-align: middle;
}

.product-img {
    padding-top: 50px;
}

.product-def h2 {
    text-align: left;
    margin-bottom: 25px;
    line-height: 1.3em;
}

.detail, .users, .awards{
	background: #68829E;
}

.holder, .users, .awards {
	padding: 50px 0 50px 0;
	color: #FFFFFF;
}

.holder a {
    margin-bottom: 20px;
}


/* ---- About Page Styles ---- */

.about {
    margin-top: 50px;
    margin-bottom: 25px;
}

.about p{
    text-align: justify;
    line-height: 2.5;
}

.prize1 {
    background: url("../images/prize1.png");
}

.prize2 {
    background: url("../images/prize2.png");
}

.about-jumbotron {
    padding-top: 0;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    margin-top:50px;
}

.team h2 {
    margin-bottom: 25px;
}

.team .row div {
    padding: 25px;
}

.team img {
    height: 250px;
    width: 250px;
}

/* ---- Footer Styles ---- */

body > footer {
    background: #F4F5F6;
}

body > footer > div > div:first-child {
    padding-top: 50px;
    padding-bottom: 50px;
}

body > footer h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.3em;
}

.social-icons {
	padding: 50px 0 0 0;
    text-align: center;
}

.copyright {
	text-transform: uppercase;
    font-size: 0.9em;
    padding: 5px;
    background: #505160;
    color: #cccccc;
}

.copyright .row > div:first-of-type {
    text-align: right;
}

.copyright .row a {
    margin-right: 5px;
    color: #cccccc;
    padding-right: 9px;
    text-decoration: none;
    text-transform: capitalize;
}

.copyright .row a:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.copyright .row a:hover {
    color: #FFFFFF;
}

/* ---- Media Queries ---- */

@media only screen and (min-width: 993px){
    .users .content .block:nth-child(2){
        padding-top: 130px;
    }
}

@media only screen and (max-width: 992px){
	.product {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.holder, .users, body > footer > div > div:first-child {
		padding-top: 25px;
        padding-bottom: 25px;
	}

	.founder {
		margin-top: 50px;
	}

    .circle + div p {
        padding: 0 220px 50px 220px;
    }

    .product-img {
        padding-top: 0;
    }
	
}

@media only screen and (max-width: 767px) {

	.product a, .holder a {
		width: 100%;
	}

	.social-icons {
		padding: 10px 0;
		text-align: center;
	}

    .copyright .row div {
        text-align: center !important;
    }

    .circle + div p {
        padding: 0 50px 50px 50px;
    }

    .product-img {
        padding-top: 0;
    }

}
